# Ignorar diretórios e arquivos específicos
static/
media/
project/local_settings.py
*.ycm_extra_conf.py
base_static/global/imagens
base_static/global/style.css
*mudanças

# Extras------------------------

	# Ignorar binários

# Binários e Arquivos Executáveis


# Script e Configurações
*.env
*.swp

# Documentos e Arquivos de Dados
*.pdf
*.db
*db.sqlite3

# Configurações de IDE e Ferramentas
*.vscode

# Arquivos de Projeto Específico
*.zip*

# Diretórios Locais
.local/

	# Diretórios

# Ignorar diretórios de build
/build/
out/
test.*
teste.*
venv/

# Ignorar diretórios de cache
__pycache__/

