<nav class='menu'>
    <h1 class='agenda'>
        <a href="{% url 'contact:index' %}">AgendA</a>
    </h1>
    {% if user.is_authenticated %}
        <div class='login'>
            <h3><a href="{% url 'contact:create' %}">Create</a></h3>
            <h3><a href="{% url 'contact:user_update' %}">Update</a></h3>
            <h3><a href="{% url 'contact:user_logout' %}">logout</a></h3>
        </div>
    {% else %}
        <div class='login'>
            <h3><a href="{% url 'contact:user_login' %}">Login</a></h3>
            <h3><a href="{% url 'contact:user_register' %}">Create</a></h3>
        </div>
    {% endif %}
    <div class='content-search'>
        <form action="{% url 'contact:search' %}" method='GET'>
            <input class='search-input' type='text' id='search'
                   name='q' placeholder='Search...' value='{{ search_value }}'>
        </form>
    </div>
</nav>
